{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
{% section 'product-recommendations' %}

{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>




{% comment %}

Place this in your product.liquid template, at the bottom.

{% endcomment %}

{% if product.variants.size > 1 %}

<script>

(function($) { 

 var variantImages = {},

 thumbnails,

 variant,

 variantImage,

 optionValue;

 {% for variant in product.variants %}

 variant = {{ variant | json }};

 if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {

 variantImage = variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');

 variantImages[variantImage] = variantImages[variantImage] || {};

 {% for option in product.options %}

 {% assign option_value = variant.options[forloop.index0] %}

 {% assign option_key = 'option-' | append: forloop.index0 %}

 if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {

 variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};

 }

 else {

 var oldValue = variantImages[variantImage][{{ option_key | json }}];

 if ( oldValue !== null && oldValue !== {{ option_value | json }} ) {

 variantImages[variantImage][{{ option_key | json }}] = null;

 }

 }

 {% endfor %}

 }

 {% endfor %}

 $(function() {

 thumbnails = $('img[src*="/products/"]').not(':first');

 if (thumbnails.size()) {

 thumbnails.bind('click', function() {

 var image = $(this).attr('src').split('?')[0].replace(/(_thumb\.)|(_small\.)|(_compact\.)|(_medium\.)|(_large\.)|(_grande\.)/,'.');

 if (typeof variantImages[image] !== 'undefined') {

 {% for option in product.options %}

 optionValue = variantImages[image]['option-{{ forloop.index0 }}'];

 if (optionValue !== null && $('.single-option-selector:eq({{ forloop.index0 }}) option').filter(function() { return $(this).text() === optionValue }).length) {

 $('.single-option-selector:eq({{ forloop.index0 }})').val(optionValue).trigger('change');

 }

 {% endfor %}

 }

 });

 }

 });

})(jQuery);

</script> 

{% endif %}